<div class="container">
<h1>Highest Bill</h1>

<%@user.each do |user| %>
	<div>
		<p>Email: <%= User.find(user.user_id).email %></p>
		<p>Total Bil: <%= user.totalbill %></p>
		<p>Restaurant: <%= Restaurant.find(user.restaurant_id) %></p>
		<hr>

	</div>
 <% end %>
		
</div>
