<div class="container">
	<h1>Admin</h1>
	

	<p>
		<%= link_to 'Query k', queryk_admin_index_path %>
	</p>

	<p>
		<%= link_to 'top 5 highest bill', highest_bill_admin_index_path %>
	</p>

	<p>
		<%= link_to 'all users', users_path %>
	</p>

</div>

