<h1 class="text-center">New user</h1>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<%= render 'form' %>
			<button type="button" class="btn"><%= link_to 'Back', users_path %></button>
		</div>
	</div>
</div>