/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/**
 * Basic styling
 */
body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;

    font-weight: 300;
    color: #353535;
    background-color: #F4F4F4;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

/* LEFT TO RIGHT LINK ANIMATION*/
a, .link-anim {
	display: inline-block;
}
a:after, .link-anim:after {
	content: '';
	display: block;
	height: 3px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
a.navlink:hover:after, .link-anim:hover:after {
	width: 100%;
	background: #4099FF;
}

a.logout:hover:after, .link-anim:hover:after {
	width: 100%;
	background: red;
}

a.login:hover:after, .link-anim:hover:after {
	width: 100%;
	background: #4CAF50;
}


.bottom-border{
	padding-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
}

.left-border{
	border-left: 1px solid #CCCCCC;
}
.title{
	padding-bottom: 20px;
	font-size: 40px;
	font-variant: small-caps;
	font-weight: 900;
}


/*Bouncing*/
.bounce-down:hover{
	-webkit-animation: bounce-down 400ms ease-out;
}

@-webkit-keyframes bounce-down {
  0% {
	-webkit-transform:translateY(0%);
  }
  50% {
  	-webkit-transform:translateY(25%);
  }
  100% {
  	-webkit-transform:translateY(0);
  }
}

.bounce-up:hover{
	-webkit-animation: bounce-up 400ms ease-out;
}

@-webkit-keyframes bounce-up {
  0% {
	-webkit-transform:translateY(0%);
  }
  50% {
  	-webkit-transform:translateY(-25%);
  }
  100% {
  	-webkit-transform:translateY(0);
  }
}

