// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Bootstrap import
@import "bootstrap-sprockets";
@import "bootstrap";

.rest-list{
	border: 1px solid #CCCCCC;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 10px;
	background-color: #F4F4F4;
}
.rest-list:hover{
	background-color: white;
	//Shadow
	-webkit-box-shadow: 0px 0px 20px 9px rgba(56,56,56,0.46);
	-moz-box-shadow: 0px 0px 20px 9px rgba(56,56,56,0.46);
	box-shadow: 0px 0px 20px 9px rgba(56,56,56,0.46);
}
.pricerange:hover{
	color: green;
}