// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Bootstrap import
@import "bootstrap-sprockets";
@import "bootstrap";

#rest-view-test{
	border: 1px solid #CCCCCC;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 10px;
	background-color: #F4F4F4;
}
#rest-view-test:hover{
	background-color: #F9F9F9;
}