<div class="jumbotron">
	<!-- Image (app icon) followed by title -->
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>LOGO GOES HERE</h2>
			</div>
			<div class="col-md-2">
				<h1 id="header">MunchNow</h1>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>

	<!-- Buttons / nav goes here -->
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="btn-group">
					<!-- <div class="btn">
				    <%= link_to 'index' %>
				    </div> -->
					<a href="#" class="btn btn-primary">Home Page</a>
					<button type="button" class="btn btn-primary">Button2</button>
					<button type="button" class="btn btn-primary">Button3</button>
				</div>	
			</div>
			<div class="col-md-5">
				
			</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-primary">About</button>
			</div>
			
		</div>
	</div>
</div>
